body 
{
    font-family: Fira Code, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
.container 
{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
h1
{
    color: #000;
    text-align: center;
}
h2
{
    color: #000;
}
img 
{
    max-width: 700px;
    border-radius: 10px;
    margin-bottom: 5px;
}
p 
{
    text-indent: 25px;
    text-align: justify;
    margin-bottom: 10px;
}
table 
{
    margin-bottom: 20px;
    border-collapse: collapse;
    width: 100%;
}
th, td
{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
ul 
{
    margin-bottom: 20px;
}

ul li 
{
    margin-bottom: 5px;
}
.social-media 
{
    margin-top: 20px;
}
.social-media a
{
    margin-right: 10px;
}
.social-media img 
{
    width: 25px;
    height: 25px;
}